/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rubik', sans-serif;

/*Color Variables*/
$primary-color: #333;
$mainbg: #e7e7e7;

// $commonLinkColor: #00C6CF;
$commonLinkColor: #333;
$nonActiveLinkColor: #7a7c7c;
$nonActiveLightLinkColor: #bdbdbd;

$maintTextColor: #000;
$bgNonactive: #d0dde1;
$bgSelected: #b9d4db;
$mainSize: 1em;

/*=================== fonts ====================*/
